In [7]:
import os
import sys
import talib as ta
syspath = os.path.split(os.path.abspath("."))[0]
sys.path.append(syspath)
import univ3api.simulation as sim
import univ3api.utils as utils
import importlib
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# run if simulation file is updated
importlib.reload(sim)

HOST = "mongodb://172.16.11.81:27017/ETHDATA"
source = sim.DataUtilMongoDB(HOST)

from datetime import datetime
import time
d1 = datetime(2018,5,1,9)
d2 = datetime(2021,9,1,9)
t1 = int(time.mktime(d1.timetuple()))
t2 = int(time.mktime(d2.timetuple()))

# print(d1.timetuple())
# print(time.mktime(d1.timetuple()))
# print(int(time.mktime(d1.timetuple())))

# swapdata = source.swap_by_time("SWAP_WETH_USDT_3000", t1, t2)
swapdata = source.swap_by_time("SWAP_WBTC_WETH_3000", t1, t2)
swapdata.tail()
pricedata = swapdata[["timestamp", "sqrtPriceX96"]]
# pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(18, 6).x96_to_price)
pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(8, 18).x96_to_price)
pricedata.tail()

        timestamp                         sqrtPriceX96      price
14435  1630454729  29397920860687499670891214477520071  13.768102
14436  1630454935  29395052399717415159635219841245085  13.765415
14437  1630455164  29388261468752210037201803442848452  13.759056
14438  1630456622  29367927808723618388655304732177615  13.740022
14439  1630457957  29367928794631338623875092527135790  13.740023

In [8]:
pricedata['datetime'] = pd.to_datetime(pricedata['timestamp'],unit='s')
priceDt = pricedata.set_index('datetime')
priceDt['date'] = list(map(lambda d: d.date(), priceDt.index))
priceDt

,timestamp,sqrtPriceX96,price,date
datetime,,,,
2021-07-01 01:18:40,1625102320,31159011769914640270207407144953629,15.467075,2021-07-01
2021-07-01 02:23:56,1625106236,31162128177382301714916168937709930,15.470169,2021-07-01
2021-07-01 02:23:56,1625106236,31164430579067829878931078620017682,15.472455,2021-07-01
2021-07-01 02:23:56,1625106236,31167886926008060496590377221415522,15.475887,2021-07-01
2021-07-01 02:24:19,1625106259,31170083081103418472408203843315706,15.478068,2021-07-01
...,...,...,...,...
2021-09-01 00:05:29,1630454729,29397920860687499670891214477520071,13.768102,2021-09-01
2021-09-01 00:08:55,1630454935,29395052399717415159635219841245085,13.765415,2021-09-01
2021-09-01 00:12:44,1630455164,29388261468752210037201803442848452,13.759056,2021-09-01
2021-09-01 00:37:02,1630456622,29367927808723618388655304732177615,13.740022,2021-09-01
2021-09-01 00:59:17,1630457957,29367928794631338623875092527135790,13.740023,2021-09-01